<form [formGroup]="registerForm" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr>

  <div class="form-group">
    <label class="control-label" style="margin-right:10px">I am a: </label>
    <label class="radio-inline">
      <input class="mr-3" type="radio" value="male" formControlName="gender">Male
    </label>
    <label class="radio-inline ml-3">
      <input class="mr-3" type="radio" value="female" formControlName="gender">Female
    </label>
  </div>

  <div class="form-group">
    <input type="text" formControlName="username" placeholder="Username" class="form-control"
    [ngClass]="{'is-invalid': getComponent('username').errors && getComponent('username').touched}">
    <div class="invalid-feedback">Please choose a username</div>
  </div>

  <div class="form-group">
    <input [ngClass]="{'is-invalid': getComponent('knownAs').errors && getComponent('knownAs').touched}" class="form-control"
      placeholder="Known as" formControlName="knownAs">
    <div class="invalid-feedback" *ngIf="getComponent('knownAs').touched && getComponent('knownAs').hasError('required')">Known as is required</div>
  </div>

  <div class="form-group">
    <input [ngClass]="{'is-invalid': getComponent('dateOfBirth').errors && getComponent('dateOfBirth').touched}" class="form-control"
      placeholder="Date of Birth" formControlName="dateOfBirth" type="text" bsDatepicker [bsConfig]="bsConfig">
    <div class="invalid-feedback" *ngIf="getComponent('dateOfBirth').touched && getComponent('dateOfBirth').hasError('required')">Date of Birth is required</div>
  </div>

  <div class="form-group">
    <input [ngClass]="{'is-invalid': getComponent('city').errors && getComponent('city').touched}" class="form-control"
      placeholder="City" formControlName="city">
    <div class="invalid-feedback" *ngIf="getComponent('city').touched && getComponent('city').hasError('required')">City is required</div>
  </div>

  <div class="form-group">
    <input [ngClass]="{'is-invalid': getComponent('country').errors && getComponent('country').touched}" class="form-control"
      placeholder="Country" formControlName="country">
    <div class="invalid-feedback" *ngIf="getComponent('country').touched && getComponent('country').hasError('required')">Country is required</div>
  </div>

  <div class="form-group">
    <input type="password" class="form-control" formControlName="password" placeholder="Password"
    [ngClass]="{'is-invalid': getComponent('password').errors && getComponent('password').touched}">
    <div class="invalid-feedback" *ngIf="getComponent('password').hasError('required') && getComponent('password').touched">Password is required</div>
    <div class="invalid-feedback" *ngIf="getComponent('password').hasError('minlength') && getComponent('password').touched">Password must be at least 4 characters</div>
    <div class="invalid-feedback" *ngIf="getComponent('password').hasError('maxlength') && getComponent('password').touched">Password cannot exceed 8 characters</div>
  </div>

  <div class="form-group">
    <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm Password"
    [ngClass]="{'is-invalid':
      getComponent('confirmPassword').errors && getComponent('confirmPassword').touched ||
      getComponent('confirmPassword').touched && registerForm.hasError('mismatch')}">
      <div class="invalid-feedback" *ngIf="getComponent('confirmPassword').hasError('required') && getComponent('confirmPassword').touched">Password is required</div>
      <div class="invalid-feedback" *ngIf="registerForm.hasError('mismatch') && getComponent('confirmPassword').touched">Passwords must match</div>
    </div>

  <div class="form-group text-center">
    <button class="btn btn-success" type="submit" [disabled]="!registerForm.valid">Register</button>
    <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
  </div>

</form>
